@model IEnumerable<ViewModel.MataKuliahViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kode_Matkul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nama_Matkul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SKS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kode_Dosen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jumlah_Pertemuan)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kode_Matkul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nama_Matkul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SKS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kode_Dosen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jumlah_Pertemuan)
            </td>
            <td>
                <input type="button" class="btn btn-primary btn-edit" value="Edit" data-id="@item.ID" />
                <input type="button" class="btn btn-warning btn-delete" value="Delete" data-id="@item.ID" />
            </td>
        </tr>
    }

</table>

<script>
    $(".btn-edit").click(function () {
        //alert('test button dengan id' + $(this).attr("data-id"));
        $.ajax({
            url: '@Url.Action("Edit", "MataKuliah")',
            type: 'get',
            data : {id : $(this).attr("data-Id")},
            success: function (result) {
                //awali  . bila menggunakan class
                $(".modal-body").html(result);
                $("#modal-form").modal("show");
            }
        });
    });

    $(".btn-delete").click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "MataKuliah")',
            type: 'get',
            data: { id: $(this).attr("data-Id") },
            success: function (result) {
                //awali  . bila menggunakan class
                $(".modal-body").html(result);
                $("#modal-form").modal("show");
            }
        });
    });

</script>